/*flex box布局

只有在父元素高度明确指定的情况下,子元素才能继承父元素的高度,
但是min-height是模糊的,不明确的.
故最后计算出来的高度往往是"auto"而不是期望的100%,在这个问题中.
*/
body {
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 100%;
  height: 100%;
}

/*flex 布局
middle-wrap flex =1
使得footer永远固定在底部*/
.Wrap {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.Header {
  width: 100%;
  height: 130px;
}

/*content区域*/
.WrapMiddle {
  /*flex 1 保证了footer的固定*/
  flex: 1;
  width: 100%;
  font-size: 0;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}

.OffCanvas-Active .Left,
.OffCanvas-Active .Middle {
  transform: translate3d(200px, 0, 0);
  transition: transform .3s;
}

.Left {
  font-size: .9rem;
  transition: transform .3s;
}

@media (min-width: 40rem) {
  .Left {
    width: 12.5%;
    left: 0;
    position: relative;
  }
}

.Middle {
  transition: transform .3s;
  font-size: .9rem;
}

@media (min-width: 40rem) {
  .Middle {
    display: inline-block;
    width: 75%;
    padding: 0 2.5rem;
  }
}

.Right {
  width: 100%;
  font-size: .9rem;
}

@media (min-width: 40rem) {
  .Right {
    width: 12.5%;
  }
}

.Footer {
  height: 100px;
  width: 100%;
  text-align: center;
   background-color: whitesmoke;
  margin: 1rem;
  border-radius: .25rem;

}


.list-item, .last-item {
  margin-right: 1rem;
  color: #ebebeb;
  margin-top: 10px;
}

.header {
  height: 2.75rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  background-color: indigo;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  border-radius: .25rem;
}

@media (min-width: 31.25em) {
  .header {
    flex-direction: row;
    align-items: baseline;
  }

  .last-item {
    margin-left: auto;
  }
}

.center-me {
  width: 60%;
  color: #ebebeb;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  display: flex;
  text-transform: uppercase;
  justify-content: center;
}

.nav {
  list-style-type: none;
  width: 8rem;
  /*border: 1px solid #486B02;*/
}

ul.nav a {
  display: block;
  color: #2B3F00;
  text-decoration: none;
  border-top: 1px solid #E4FFD3;
  border-bottom: 1px solid #486B02;
  /*background: url(/img/arrow.gif) no-repeat 5% 50%; padding: 0.3em 1em;*/
}

ul.nav .last a {
  border-bottom: 0;
}

/*设置背景颜色*/
ul.nav a:hover,
ul.nav a:focus,
ul.nav .selected a {
  color: #E4FFD3;
  background-color: #6DA203;
}
