{% extends 'base.html' %}


{% block content %}
    <div class="blog">
        <h1 class="blog-title">{{ article.title }}</h1>
        <div class="blog-content">
            {{ content |safe }}
        </div>
    </div>
    <h3 class="recommend-title">相关推荐</h3>
    <div class="item-list">
    {% if  not related_articles %}
        <p align="center" style="color: gray;">对不起，暂无推荐</p>
    {% endif %}
        {% for article in related_articles %}
            <ul>
                <li>
                    <a class="title" href="/blog/{{ article.id }}">{{ article.title }}</a>
                    <p>
                        {{ article.content|truncate(300) }}
                    </p>
                    <div class="blog-meta">
                        <div>
                            <a href="">{{ article.author_name }}</a>
                            <p> 发表于 {{ article.created_at.strftime('%Y-%m-%d') }}
                            </p>
                        </div>
                        <div class="blog-actions right">
                            <a class="like-button" href="">
                                <span class="number fa fa-thumbs-up"></span>
                                {{ article.view_num }}
                            </a>
                        </div>

                    </div>
                </li>
            </ul>
        {% endfor %}

    </div>
{% endblock %}