{% extends 'base.html' %}


{% block content %}
    <div class="blog">
        <h1 class="blog-title">index</h1>
        <div class="blog-content">
            一年来依法履行校长职责的情况向各位汇报如下，请予审议。

            一、积极参加政治学习，逐步提高思想政治素质，夯实思想作风建设，坚持依法治校、以德治校。

            一年来，认真学习十七大精神，积极参加深入学习实践科学发展观活动，坚定全心全意为人民服务和忠诚于人民教育事业的思想信念，堂堂正正做人，坦坦荡荡做事，扎扎实实工作，兢兢业业治校，为努力办好人民群众满意的教育而不懈努力。

            在学校事务管理中，严格按照领导干部廉洁自律的要求办事，实行政务公开，财务公开制度，不以权谋私，始终以集体利益为重，从大局利益出发，坚持走群众路线，推行以人为本的管理思想，树立团结和依靠广大教职工，同心同德，齐心协力，才能办好教育的思想意识，在自己的工作岗位上埋头苦干，奋勇前进。

            二、科学定位学校发展目标，加强队伍建设，坚持“以人为本、以德治校”的思想理念，实施有效管理，努力提升办学水平。

            一年来，依据教育局有关政策与学校实际情况，科学合理定位学校发展目标，以“突出办学特色，提升教育质量，办人民满意教育”为主题，围绕稳步提升教育教学质量、做精做细生态德育特色、彰显学校个性发展的工作目标，多形式、多载体、多渠道进行管理，在充分依靠领导班子队伍建设和教师队伍建设效益的基础上，努力探索办学思路，一年来效益显著。

            1、 科学实施有效管理，努力提升教学质量

            高标准、高要求贯彻落实县教育局“有效课堂教学巩固年”的宏观政策，认真开展“竹乡金秋”与“竹乡之春”等一系列教学活动，积极参加教育共同体建设活动，加强教学常规管理、

            教学质量监控、教师队伍建设和课堂教学改革，保证教育教学质量稳步提升。

            在2010学年第一学期期末质量检测中，七、九年级整体稳中有进，八年级位于全区第一、全县中游；六年级科学抽测整体进步12名、其他抽测学科都略有进步，。

            高度重视育人质量，努力提高学生综合素质。认真开展大课间操与体艺2+1活动，积极参加县体艺活动。校园剧《大山的呐喊》相继获得县一等奖与湖州市一等奖，学校体艺特色先后在安吉电视台、安吉新闻等媒体得到宣传；同时、篮球、羽毛球项目成绩也实现了零的突破。

            2、传承、创新生态德育，彰显学校个性发展

            一如既往挖掘优势资源，做精做细生态德育。学校以创建“美丽校园”和山川乡创建美丽乡村全覆盖为契机，以校园生态文化建设为主题，以打造安吉县生态文明示范学校为目标，以
            “书香育人”行动计划、星级学生评比活动、国旗班活动、第二届校园生态文化节等为内容，渗透生态德育教育，营造生态美丽校园、培养生态环保学生，效果明显。

            1）2010年元月，我校被省团委、省环保厅联合授予“保护母亲河号”优秀达标学校荣誉称号。

            2）2010年3月25日，我校“县生态文明建设示范学校”通过环保部门考核验收。

            3）在一学年已经公布的三次随机督导通报中，我校综合排名分列第4、1、5的名次。

            三、自己管理水平与教学水平的评估

            本人在过去的一年中担任了八年级两个班思想品德学科的教学工作，教学成绩较好，第一学期期终考试整体位于学区第二；另外积极进行教育科研的探索与研究，承担2010年度市级规划课题《美丽乡村学校生态启蒙教育的研究》的课题组长和两个县级课题的组员；撰写的社会与思想品德两篇论文均获得2010学年教学论文评比县一等奖；校长听评课比赛获得县二等奖等成绩。

            四、存在的问题与不足

            1、继续加强管理理论学习与实践探索，提高管理水平；

            2、完善管理制度，关心教职工工作与生活状态，努力创造团结、进取、和谐的工作环境。

            总之，在回顾一年工作以及得失中，我看到的更多的是全体教职工辛勤工作与无私奉献，看到的更多的是班子成员全心全意、无怨无悔的努力，我沉醉于学校优美的生态环境，感动于教师敬业的工作态度，感触于学校良好的发展局面，感谢于老师紧密的团结配合。

            再次表示最真诚的谢意，谢谢！
        </div>
    </div>

    <div class="related-blog">
        <ul>
            <li>
                <a href="#">大学生毕业留言推荐</a>
                本站为大家推荐的大学生毕业留言 还记得高中毕业时,虽然大家都笑着离开,但是心底的某个地方却在隐隐地疼痛,那时的离别不是句点,却也让我们狠狠伤心了一次.
                而此时,毕业了,在大学,我们不得不再次微笑着面对离别,离开那些熟悉的人和事,然后,再朝着不同的方向前进,也许我们就这样从此成了陌生人,无论这世界相遇 ...
            </li>

        </ul>
    </div>

{% endblock %}


