{% extends 'base.html' %}
{% block content %}
    <div class="item-list">
        <ul>
            {% for article in articles %}
                <li>
                    <a class="title" href="/blog/{{ article.id }}">{{ article.title }}</a>
                    <p>
                        {{ article.content|truncate(300) }}
                    </p>
                    <div class="blog-meta">
                        <div>
                            <a href="">{{ article.author_name }}</a>
                            <p> 发表于 {{ article.created_at.strftime('%Y-%m-%d') }}
                            </p>
                        </div>
                        <div class="blog-actions right">
                            <a class="like-button" href="">
                                <span class="number fa fa-thumbs-up"></span>
                                {{ article.view_num }}
                            </a>
                        </div>

                    </div>
                </li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}